/* #################### variables ############### */
:root {
    --footer-bg:  rgba(208, 208, 208, 0.35);
    --separator-color: rgba(208, 208, 208, 0.35);
    --separator-style: rgba(208, 208, 208, 0.35) solid 1px;
    --background-color: #C4DCF1;
    --link-background: linear-gradient(to bottom, transparent 80%, #98dce6 70%);
    --inline-code-bg: #f3f3f3;
    --inline-code-font-color: black;
    --btn-color: #f3f3f3;
    --btn-front-color: pink;


    --hover-linear-color: linear-gradient(30deg, #0c7bb3, #f2bae8);
    --font-color: #4c4948;
    --lighter-font-color: #7a7a7a;
    --darker-font-color: #1a2a3a;

    --border-color: #aaaaaa;
    --bg-color: #cccccc;

    --primary-color: #abedd8;
    --category-color: #6c5b7b;
    --highlight-color: #48466d;

    --post-info-color: #858585;
}